#Visual Studio Ignore 
*.user
*.filters 
*.vcxproj
Debug/
Release/


#General
*.dll
*.zip
Cellular_Automaton/

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

cellular_automaton